@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

html,
body {
  color: white;
  background-color: #05132a;
}
@layer utilities {
  .icon-transition {
    @apply transition-transform duration-200 ease-in-out;
  }
  .icon-open {
    transform: rotate(180deg);
  }
}
